*{
    margin: 0px;
    padding: 0px;
}




.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}

.photograph-photo {
    background-color: #ffffff;
    height: auto;
    margin: 20px 100px;
    display: flex;
    flex-direction: column;
}
.filtre{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.filtre p{
    font-size: 18px;
    font-weight: 600;
}

.photo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.photo a{
    width: 30%;
    height: auto;
    background-color: #FAFAFA;
}

.photo a article{
    width: 100%;
    height: auto;
    background-color: #FAFAFA;
    color: #901C1C;
    font-size: 20px;
    font-weight: 400;
}

.photo a article img, .photo a article video{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.photo a article div{
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-direction: row;
    padding: 7px 10px;
}

.photo a article div div{
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    font-weight: 600;
}

.photo a article div div img{
    width: 17.5px;
    height: 18.5px;
    align-self: center;
    padding-left: 8px;
}

.photograph-header img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 6px, rgba(0, 0, 0, 0.4) 0px -3px 6px;
 
}


.contact_button{
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.filtre_button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 50px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

#contact_modal {
    display: none;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    padding-top: 69px;
    background-color: rgb(255,255,255, 0.3);

}
.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.totLikes{
    position: sticky;
    bottom: 0px;
    left: 80%;
    width: 300px;
    height: 50px;
    background-color: #DB8876;
    border-radius: 5px 5px 0px 0px
    ;
}

/* Section carroussel  */

#media_modal{
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    background-color: rgb(255,255,255, 0.5);
}


#cross{
    position: relative;
    right: 50px;
    align-self: flex-start;
}

#modal-image-id, #modal-video-id{
    width: 850px;
    height: 850px;
    object-fit: cover;
    border-radius: 5px;
}

#modal-title-id{
    color:#901C1C;
    padding: 8px 0px;
}

#last, #next{
    width: 100px;
    height: 50px;
    background-image: url(../assets/icons/arrow.png);
    background-repeat: no-repeat;
    background-size:contain;
}

#next{
    rotate: 180deg;
}
